/*---------------------------------------------------
Re-usable Colors
-----------------------------------------------------*/
/************** Fonts ***************/
/*@font-face {
  font-family: 'Segoe';
  src: url('/fonts/segoeui.eot');
  src: url('/fonts/segoeui.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeui.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Bold';
  src: url('/fonts/segoeuib.eot');
  src: url('/fonts/segoeuib.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuib.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Italic';
  src: url('/fonts/segoeuii.eot');
  src: url('/fonts/segoeuii.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuii.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Bold Italic';
  src: url('/fonts/segoeuiz.eot');
  src: url('/fonts/segoeuiz.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuiz.ttf') format('opentype');
}*/
html,
body {
  background: #fff;
  font-family: Arial;
}
p {
  margin-top: 8px;
}
a.toggleTheme {
  font-size: 14px;
}
a.toggleTheme:hover {
  color: #ffa500;
  cursor: pointer;
}
body {
  /*  height: 100%; //Needed?
     width: 100%; //Needed?*/
  position: relative;
}
body header {
  background: #fff;
  height: 62px;
  min-width: 100%;
  z-index: 1000;
  position: fixed;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.56);
  font-size: 19px;
  border-bottom: 1px solid #252525;
}
body header .headerContainer {
  padding: 4px 0;
  margin: 0 auto;
  width: 80%;
}
body header .headerContainer .mobile-logo {
  display: none;
}
body header .headerContainer .logo {
  position: relative;
  top: 2px;
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  background: url("../images/logo-black.png") center no-repeat;
}
body header .headerContainer .logo:hover {
  background: url("../images/smileLogo-orange.png") center no-repeat;
}
body header .headerContainer nav {
  display: inline-block;
  float: right;
  margin-top: 13px;
  color: #000;
  position: relative;
  right: 2%;
}
body header .headerContainer nav ul {
  list-style: none;
}
body header .headerContainer nav ul li {
  padding: 5px 30px;
  float: left;
  /* a.portfolio:hover {
                     border-color: red;
                  }
                  a.sourceCode:hover {
                     border-color: yellow;
                  }
                  a.videos:hover {
                     border-color: lightskyblue;
                  }
                  a.about:hover {
                     border-color: mediumpurple;
                  }
                  a.contact:hover {
                     border-color: green;
                  }*/
}
body header .headerContainer nav ul li a,
body header .headerContainer nav ul li a:link,
body header .headerContainer nav ul li a:visited {
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  height: 28px;
}
body header .headerContainer nav ul li a:active {
  color: #ffa500;
}
body header .headerContainer nav ul li a:hover {
  opacity: 1;
  /*border-bottom: 2px solid #ff7116;*/
  color: #ffa500;
}
body header .mobileMenu {
  display: none;
}
body .mainImage {
  width: 100%;
  height: 445px;
  background: url("../images/searching2.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid #252525;
}
body.dark {
  background: black;
  color: grey;
}
body.dark a.toggleTheme {
  color: #40919b;
}
body.dark a.toggleTheme:hover {
  color: #ffffff;
}
body.dark header {
  background: #000;
  opacity: .91;
}
body.dark header .headerContainer .logo {
  background: url("../images/logo-teal.png") center no-repeat;
}
body.dark header .headerContainer .logo:hover {
  background: url("../images/smileLogo-white.png") center no-repeat;
}
body.dark header .headerContainer nav {
  color: #40919b;
}
body.dark header .headerContainer nav ul li a:hover {
  color: #ffffff;
  border: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body header .headerContainer {
    width: 88%;
  }
  body header .headerContainer nav {
    right: 0%;
  }
  body header .headerContainer nav ul li {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*Smartphones in portrait and landscape ----------- */
@media (min-width: 320px) and (max-width: 767px) {
  body header {
    height: 48px;
  }
  body header:hover {
    cursor: pointer;
  }
  body header .headerContainer {
    width: 100%;
  }
  body header .headerContainer .logo {
    display: none;
  }
  body header .headerContainer .mobile-logo {
    display: inline-block;
    position: fixed;
    left: 5px;
    top: 5px;
    width: 38px;
    height: 38px;
    background: url("../images/mobile/logo-teal-small.png") center no-repeat;
  }
  body header .headerContainer .mobile-logo.selected {
    background: url("../images/mobile/smileLogo-white-small.png") center no-repeat;
  }
  body header .headerContainer .mobileMenu {
    display: block;
    width: 100%;
    color: #40919b;
    font-size: 30px;
    font-weight: bold;
  }
  body header .headerContainer .mobileMenu .mobile-button {
    float: right;
    position: relative;
    right: 2%;
    margin-top: 6px;
    margin-right: 7px;
    width: 27px;
    height: 19px;
    background: url("../images/mobile/menu-button-teal.png") center no-repeat;
  }
  body header .headerContainer .mobileMenu .mobile-button.selected {
    background: url("../images/mobile/menu-button-white.png") center no-repeat;
  }
  body header .headerContainer nav {
    width: 100%;
    margin-top: 4px;
    float: none;
    right: 0;
  }
  body header .headerContainer nav ul {
    opacity: 1;
    display: none;
    position: fixed;
    top: 48px;
    text-align: center;
    width: 100%;
    background: #000;
    margin-left: 0;
  }
  body header .headerContainer nav ul li {
    font-size: 24px;
    padding: 0;
    margin: 0;
    padding: 13px 0;
    float: none;
    border-bottom: 1px solid #252525;
  }
  body header .headerContainer nav ul li:first-child {
    border-top: 1px solid #252525;
  }
  body.dark header .headerContainer nav ul li a:hover {
    color: #40919b;
  }
}
/* Only iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* YOUR STYLE GOES HERE */
}
