/************** Fonts ***************/
/*@font-face {
  font-family: 'Segoe';
  src: url('/fonts/segoeui.eot');
  src: url('/fonts/segoeui.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeui.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Bold';
  src: url('/fonts/segoeuib.eot');
  src: url('/fonts/segoeuib.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuib.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Italic';
  src: url('/fonts/segoeuii.eot');
  src: url('/fonts/segoeuii.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuii.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Bold Italic';
  src: url('/fonts/segoeuiz.eot');
  src: url('/fonts/segoeuiz.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuiz.ttf') format('opentype');
}*/
html,
body {
  background: #fff;
}
p {
  margin-top: 8px;
}
body.dark {
  background: black;
  color: grey;
}
body {
  /*  height: 100%; //Needed?
     width: 100%; //Needed?*/
  position: relative;
}
header {
  background: #fff;
  min-height: 55px;
  min-width: 100%;
  z-index: 1000;
  position: fixed;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.56);
  font-size: 19px;
}
header .headerContainer {
  padding: 6px 0;
  margin: 0 auto;
  width: 80%;
}
header .headerContainer .sdunnLogo {
  position: relative;
  top: 2px;
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}
header .headerContainer nav {
  float: right;
  margin-top: 13px;
  color: #000;
}
header .headerContainer nav ul {
  list-style: none;
}
header .headerContainer nav ul li {
  font-family: arial;
  padding: 5px 30px 5px 30px;
  float: left;
  /* a.portfolio:hover {
                  border-color: red;
               }
               a.sourceCode:hover {
                  border-color: yellow;
               }
               a.videos:hover {
                  border-color: lightskyblue;
               }
               a.about:hover {
                  border-color: mediumpurple;
               }
               a.contact:hover {
                  border-color: green;
               }*/
}
header .headerContainer nav ul li a,
header .headerContainer nav ul li a:link,
header .headerContainer nav ul li a:visited {
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  height: 28px;
}
header .headerContainer nav ul li a:active {
  color: orangered;
}
header .headerContainer nav ul li a:hover {
  opacity: 1;
  border-bottom: 2px solid white;
  color: #ff7116;
}
.mainImage {
  width: 100%;
  height: 445px;
  background: url("../images/searching2.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid grey;
}
.dark header {
  background: #000;
  opacity: .91;
}
.dark header .headerContainer nav {
  color: #40919b;
}
.dark header .headerContainer nav ul li {
  font-family: arial;
  padding: 5px 30px 5px 30px;
  float: left;
}
.dark header .headerContainer nav ul li a:hover {
  color: white;
  border: none;
}
