
/*---------------------------------------------------
Re-usable Colors
-----------------------------------------------------*/
@lightHeaderText: #000;
@darkHeaderText: #40919b; //Teal

@lightHeaderHover: orange;
@darkHeaderHover: #FFF;

/************** Fonts ***************/
/*@font-face {
  font-family: 'Segoe';
  src: url('/fonts/segoeui.eot');
  src: url('/fonts/segoeui.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeui.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Bold';
  src: url('/fonts/segoeuib.eot');
  src: url('/fonts/segoeuib.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuib.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Italic';
  src: url('/fonts/segoeuii.eot');
  src: url('/fonts/segoeuii.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuii.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Bold Italic';
  src: url('/fonts/segoeuiz.eot');
  src: url('/fonts/segoeuiz.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuiz.ttf') format('opentype');
}*/

html, body {
   background: #fff;
   font-family: Arial;
}

p{
   margin-top: 8px;
}

a.toggleTheme
{
   font-size: 14px;
}

a.toggleTheme:hover
{
   color: @lightHeaderHover;
   cursor: pointer;
}

body {
   /*  height: 100%; //Needed?
     width: 100%; //Needed?*/
   position: relative;

   header {
      background: #fff;
      height: 62px;
      min-width: 100%;
      z-index: 1000;
      position: fixed;
      box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.56);
      font-size: 19px;
      border-bottom: 1px solid #252525;
      .headerContainer {
         padding: 4px 0;
         margin: 0 auto;
         width: 80%;
         //max-width: 1150px;

         .mobile-logo{
            display: none;
         }

         .logo {
            position: relative;
            top: 2px;
            width: 50px;
            height: 50px;
            display: inline-block;
            cursor: pointer;
            background: url("../images/logo-black.png") center no-repeat;
            &:hover
            {
               background: url("../images/smileLogo-orange.png") center no-repeat;
            }
         }

         nav {
            display: inline-block;
            float: right;
            margin-top: 13px;
            color: #000;
            position: relative;
            right: 2%;

            ul {
               list-style: none;

               li {
                  padding: 5px 30px;
                  float: left;

                  &:hover {
                     //currently no background color
                  }

                  a, a:link, a:visited {
                     cursor: pointer;
                     font-weight: bold;
                     display: inline-block;
                     height: 28px;
                  }

                  a:active{
                     color: @lightHeaderHover;
                  }

                  a:hover {
                     opacity: 1;
                     /*border-bottom: 2px solid #ff7116;*/
                     color: @lightHeaderHover;
                  }

                  //Multi-color underlines
                 /* a.portfolio:hover {
                     border-color: red;
                  }
                  a.sourceCode:hover {
                     border-color: yellow;
                  }
                  a.videos:hover {
                     border-color: lightskyblue;
                  }
                  a.about:hover {
                     border-color: mediumpurple;
                  }
                  a.contact:hover {
                     border-color: green;
                  }*/

               }
            }
         }
      }
      .mobileMenu
      {
         display: none;
      }
   }
   //end header

   .mainImage {
      width: 100%;
      height: 445px;
      background: url("../images/searching2.jpg") no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 1px solid #252525;
   }
}


///////////////////////////  Dark specific styles   ///////////////////////////


body.dark {

   background: black;
   color: grey;

   a.toggleTheme
   {

      color: @darkHeaderText;
   }
   a.toggleTheme:hover
   {
      color: @darkHeaderHover;
   }

   header {
      background: #000;
      opacity: .91;


      .headerContainer {

         .logo {
            background: url("../images/logo-teal.png") center no-repeat;
            &:hover
            {
               background: url("../images/smileLogo-white.png") center no-repeat;
            }
         }

         nav {
            color: @darkHeaderText;

            ul {

               li {
                  a {
                     //height: 26px;
                  }

                  &:hover {
                     //currently no background color
                  }

                  a:hover {
                     color: @darkHeaderHover;
                     border: none;
                   //  border-bottom: 2px solid white;
                  }
               }
            }
         }
      }
   } //end header

   .mainImage {

   }
} //end body.dark styles



.main {

}

//iPads in portrait and landscape-----------
@media (min-width : 768px) and (max-width : 1024px) {
   body {
      header {
         .headerContainer {
            width: 88%;
            nav {
               right: 0%;
               ul {
                  li {
                     padding-left: 20px;
                     padding-right: 20px;
                  }
               }
            }
         }
      }
   }
} // iPad media query

/*Smartphones in portrait and landscape ----------- */
@media (min-width : 320px) and (max-width : 767px) {
   body {
      header {
         height: 48px;
         &:hover
         {
            // color: @darkHeaderHover;
            cursor: pointer;
         }

         .headerContainer {
            width: 100%;
            //text-align: center;

            .logo
            {
               display: none;
            }
            .mobile-logo
            {
               display: inline-block;
               position: fixed;
               left: 5px;
               top: 5px;
               width: 38px;
               height: 38px;
               background: url("../images/mobile/logo-teal-small.png") center no-repeat;

               &.selected{
                  background: url("../images/mobile/smileLogo-white-small.png") center no-repeat;
               }
            }
            .mobileMenu {
               display: block;
               width: 100%;
               color: @darkHeaderText;
               font-size: 30px;
               font-weight: bold;

               .mobile-button{
                  float: right;
                  position: relative;
                  right: 2%;
                  margin-top: 6px;
                  margin-right: 7px;
                  width: 27px;
                  height: 19px;
                  background: url("../images/mobile/menu-button-teal.png") center no-repeat;

                  &.selected{
                     background: url("../images/mobile/menu-button-white.png") center no-repeat;
                  }
               }
            }

            nav {
               width: 100%;
               margin-top: 4px;
               float: none;
               right: 0;
               ul {
                  opacity: 1;
                  display: none;
                  position: fixed;
                  top: 48px;
                  text-align: center;
                  width: 100%;
                  background: #000;
                  margin-left: 0;

                  li{

                     font-size: 24px;
                     padding:0;
                     margin:0;
                     padding:20px 0;
                     float: none;
                     border-bottom: 1px solid #252525;
                     &:first-child{
                        border-top: 1px solid #252525;
                     }

                  }
               }
            }

         }
      }
   }

   ////DARK STYLES
   body.dark
   {
      header {
         .headerContainer
         {
            nav {
               ul {
                  li {
                     //remove hover changes since there is no hover on mobile.
                     a:hover {
                        color: @darkHeaderText;
                     }
                  }
               }
            }
         }

      }
   }
}

/* Only iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
   /* YOUR STYLE GOES HERE */
}






























