/*---------------------------------------------------
Re-usable Colors
-----------------------------------------------------*/
@lightHeaderText: #000;
@darkHeaderText: #40919b;
@darkHeaderNavHover: #31757E;
//Teal

@lightHeaderHover: orange;
@darkHeaderHover: #FFF;

/************** Fonts ***************/
/*@font-face {
  font-family: 'Segoe';
  src: url('/fonts/segoeui.eot');
  src: url('/fonts/segoeui.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeui.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Bold';
  src: url('/fonts/segoeuib.eot');
  src: url('/fonts/segoeuib.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuib.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Italic';
  src: url('/fonts/segoeuii.eot');
  src: url('/fonts/segoeuii.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuii.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Bold Italic';
  src: url('/fonts/segoeuiz.eot');
  src: url('/fonts/segoeuiz.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuiz.ttf') format('opentype');
}*/

html, body {
   background: #fff;
   font-family: Arial;
}

body {
   /*  height: 100%; //Needed?
     width: 100%; //Needed?*/
   position: relative;
}

a.toggleTheme {
   font-size: 14px;
}

a.toggleTheme:hover {
   color: @lightHeaderHover;
   cursor: pointer;
}

//Parallax section
section
{
   height: 450px;
   width: 100%;
   background: url("11.jpg") no-repeat;
   position: relative;
   overflow: hidden;
   background-attachment: fixed; /*not supported by mobile?*/
}

.inner
{
   width: 100%;
   position: relative;
   top: 200px; /*delay before bringing up other elements*/
}

.first, .second, .jss, .fourth, .five, .six, .seven, .theCSS, .eight
{
   position: absolute;
   width: 50px;
   height: 50px;
   top: 0;
}

.first
{
   top: 250px;
   left: 19%;
   background: purple;
}

.theCSS
{
   top: 250px;
   left: 45%;
   background: red;
}

.jss
{
   top: 250px; /*The final resting position*/
   left: 70%;
   background: teal;
}

.second
{
   top: 30px;
   left: 350px;
   background: blue;
}


.fourth{
   top: 200px;
   left: 280px;
   background: green;
}

.five{
   top: 170px;
   left: 560px;
   background: pink;
}

.six
{
   top: 100px;
   left: 860px;
   background: red;
}

.eight
{
   top: 220px; /*The final resting position*/
   left: 650px;
   background: darkred;
}

.seven
{
   top: 200px; /*The final resting position*/
   left: 70px;
   background: darkred;
}
//END Parallax

header {
   background: #fff;
   height: 62px;
   min-width: 100%;
   z-index: 1000;
   position: fixed;
   box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.56);
   font-size: 19px;
   border-bottom: 1px solid #252525;

   nav.mobileNav {
      display: none;
   }

   .navContainer {
      //padding: 4px 0;
      margin: 0 auto;
      width: 80%;
      //max-width: 1150px;
   }

   .logo {
      position: relative;
      top: 2px;
      width: 50px;
      height: 50px;
      margin: 4px 0;
      display: inline-block;
      cursor: pointer;
      background: url("../images/smile-logo-sprite.png") no-repeat;

      &:hover {
        background-position: bottom;
      }

      a {
         //The link has no content, so set height/width to make it clickable
         display: block;
         width: 50px;
         height: 50px;
      }
   }

   nav {
      display: inline-block;
      float: right;
      color: #000;
      position: relative;
      right: 2%;

      ul {
         list-style: none;

         li {

            float: left;

            &:hover {
               background: @darkHeaderNavHover;
               //currently no background color
            }

            a, a:link, a:visited {
               cursor: pointer;
               font-weight: bold;
               display: inline-block;
               padding: 22px 27px;
               padding-bottom: 21px; //account for bottom border
            }

            a:active {
               color: @lightHeaderHover;
            }

            a:hover {
               /*border-bottom: 2px solid #ff7116;*/
               color: @lightHeaderHover;
            }

            //Multi-color underlines
            /* a.projects:hover {
                border-color: red;
             }
             a.sourceCode:hover {
                border-color: yellow;
             }
             a.videos:hover {
                border-color: lightskyblue;
             }
             a.about:hover {
                border-color: mediumpurple;
             }
             a.contact:hover {
                border-color: green;
             }*/
         }
      }
   }
}

//end header

.mainImage {
   padding-top: 61px; //Move below the header
   width: 100%;
   height: 700px;
   background: url("../images/searching.jpg") no-repeat center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   border-bottom: 1px solid #252525;
}

.main {
   #projects {
      background: #494180;
   }

   #sourceCode {
      background: #253139;
   }

   #videos {
      background: white;
   }

   #about {
      background: blue;
   }

   #contact {
      background: orange;
   }
}

///////////////////////////  Dark specific styles   ///////////////////////////

.dark {
   background: black;
   color: grey;

   a.toggleTheme {

      color: @darkHeaderText;
   }
   a.toggleTheme:hover {
      color: @darkHeaderHover;
   }

   header {
      background: #000;

      .logo {
         background: url("../images/smile-logo-sprite.png") no-repeat;

         &:hover {
            background-position: bottom;
         }
      }

      nav {
         ul {
            li {
               &:hover {
                  //currently no background color
               }

               a, a:link, a:visited {
                  //height: 26px;
                  color: @darkHeaderText;
               }

               a:hover {
                  color: @darkHeaderHover;
                  border: none;
                  //border-bottom: 2px solid white;
               }
            }
         }
      }
   }
   //end header

   .mainImage {

   }
}

//end .dark styles

///////////////////////////  Responsive styles   ///////////////////////////

//iPads in portrait and landscape-----------
@media (min-width : 768px) and (max-width : 1024px) {
   header {
      .navContainer {
         width: 88%;
         nav {
            right: 0%;
            ul {
               li a{
                  padding-left: 20px;
                  padding-right: 20px;
               }
            }
         }
      }
   }
}

/*Smartphones in portrait and landscape ----------- */
@media (min-width : 320px) and (max-width : 767px) {
   header {
      height: 48px;
      opacity: .91;

      &:hover {
         // color: @darkHeaderHover;
         cursor: pointer;
      }

      //Hide the standard nav
      .navContainer {
         display: none;
      }

      nav.mobileNav {
         display: inline-block;
         width: 100%;
         margin-top: 0;
         float: none;
         right: 0;
         height: 48px;

         .mobile-logo {
            display: inline-block;
            position: fixed;
            left: 5px;
            top: 5px;
            width: 38px;
            height: 38px;
            background: url("../images/mobile/small-smile-logo-sprite.png") no-repeat;

            &.selected {
               background-position: bottom;
            }
         }

         .mobile-button {
            float: right;
            margin-top: 15px;
            margin-right: 20px;
            width: 27px;
            height: 17px;
            background: url("../images/mobile/menu-button-sprite.png") no-repeat;

            &.selected {
               background-position: bottom;
            }
         }

         ul {
            display: none;
            position: fixed;
            top: 48px;
            text-align: center;
            width: 100%;
            background: #000;
            margin-left: 0;

            li {
               font-size: 24px;
               padding: 12px 0;
               float: none;
               border-bottom: 1px solid #252525;
               &:first-child {
                  border-top: 1px solid #252525;
               }

               a {
                  padding: 0;
                  margin: 0;
                  color: @darkHeaderText;
               }

               &.selected
               {
                  background: #fff;
               }
            }
         }
      }
   }
}

/* Only iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
   /* YOUR STYLE GOES HERE */
}






























