/************** Reusable Colors ***************/
@lightHeaderText: #000;
@darkHeaderText: #40919b;
@darkHeaderNavHover: #31757E; //Teal

@lightHeaderHover: orange;
@darkHeaderHover: #FFF;

/************** Responsive Widths***************/
@contentWidth: 80%; //All content is centered in the middle of the page. This width determines the left/right "margins" of all content.
@contentWidthMedium: 88%;
@contentWidthMobile: 94%;


//The width of .sliderContainer is always N times the viewport width, where N is the number of projects to display.
//For example, if there are 4 projects, than the width of .sliderContainer will be 400%. //The container "moves" left and right to show each project using CSS translateX.
@numberOfProjects: 5;

//Note that .sliderContainer's parent is contentContainer, whose width is @contentWidth (see above).
@sliderContainerWidth: 100% * @numberOfProjects;  //Changing this width will automatically change the widths of the project divs inside

//.sliderContainer is the the parent container of all of project divs. @projectWidth is 100% of the PARENT div (whose width is 500%, etc)
@projectWidth: 100%/@numberOfProjects; //Each project div fills 100% of the screen. 500% / 5 projects= 100%

/************** Fonts ***************/
/*@font-face {
  font-family: 'Segoe';
  src: url('/fonts/segoeui.eot');
  src: url('/fonts/segoeui.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeui.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Bold';
  src: url('/fonts/segoeuib.eot');
  src: url('/fonts/segoeuib.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuib.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Italic';
  src: url('/fonts/segoeuii.eot');
  src: url('/fonts/segoeuii.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuii.ttf') format('opentype');
}
@font-face {
  font-family: 'Segoe Bold Italic';
  src: url('/fonts/segoeuiz.eot');
  src: url('/fonts/segoeuiz.eot?#iefix') format('embedded-opentype'), url('/fonts/segoeuiz.ttf') format('opentype');
}*/

html, body {
   background: #fff;
   font-family: Arial;
   color: #fff;
}

body {
   /*  height: 100%; //Needed?
   width: 100%; //Needed?*/
   position: relative;
}

h1 {
   font-family: Arial;
   font-size: 36px;
   color: #fff;
}

.toggleTheme {
   font-size: 14px;
}

.toggleTheme:hover {
   color: @lightHeaderHover;
   cursor: pointer;
}

//////////// Header Section ////////////
header {
   background: #fff;
   height: 62px;
   width: 100%;
   z-index: 1000;
   position: fixed;
   box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.56);
   font-size: 19px;
   border-bottom: 1px solid #252525;
}

.navContainer {
   margin: 0 auto;
   width: @contentWidth;
}

.headerLogo {
   position: relative;
   top: 2px;
   width: 50px;
   height: 50px;
   margin: 4px 0;
   display: inline-block;
   cursor: pointer;
   background: url("../images/smile-logo-sprite.png") no-repeat;
   position: relative;
   left: -1px;

   &:hover {
      background-position: bottom;
   }

   a {
      //The link has no content, so set height/width to make it clickable
      display: block;
      width: 50px;
      height: 50px;
   }
}

nav {
   display: inline-block;
   float: right;
   color: #000;
   position: relative;
   //The Center positioning of the nav is based on the navContainer width (i.e. the content width)

   ul {
      list-style: none;
   }

   li {
      float: left;

      /*-webkit-transition: background .35s ease;
      -moz-transition: background .35s ease;
      -o-transition: background .35s ease;
      transition: background .35s ease;*/

      &:hover {
         background: @darkHeaderNavHover;
         //currently no background color
      }
   }

   a, a:link, a:visited {
      cursor: pointer;
      font-weight: bold;
      display: inline-block;
      padding: 22px 27px;
      padding-bottom: 21px; //account for bottom border
      //height: 26px;
      color: @darkHeaderText;
   }

   a:active, a:focus {
      color: @darkHeaderText;
   }

   a:hover {
      color: @darkHeaderHover;
      border: none;
      //light style
      /*border-bottom: 2px solid #ff7116;*/
      //border-bottom: 2px solid white;
      //color: @lightHeaderHover;
   }

   //Multi-color underlines
   /* a.projects:hover {
       border-color: red;
    }
    a.sourceCode:hover {
       border-color: yellow;
    }
    a.videos:hover {
       border-color: lightskyblue;
    }
    a.about:hover {
       border-color: mediumpurple;
    }
    a.contact:hover {
       border-color: green;
    }*/
} //End Nav

.mobileNav {
   display: none;
}

//////////// End Header Section ////////////

#mainImage {
   width: 100%;
   height: 740px;
   background: url("../images/searching.jpg") no-repeat center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   border-bottom: 1px solid #252525;
   background-attachment: fixed; /*not supported by mobile*/
}

///////////// Parallax section /////////////
#parallax {
   display: block;
   height: 1000px;
   width: 100%;
   position: relative;
   overflow: hidden;
   //background-attachment: fixed; /*not supported by mobile*/
}

//For all "parallax" logos:
//    top: Determines the final "resting" position (i.e. how far the element needs to travel from bottom to top)
//    data-stellar-ratio: How quickly the element should move to it's final position when the page scrolls

.techLogo {
   position: absolute;
   z-index: 3; //Nothing should come in front of the html, css, or jq logos.
}

#htmlLogo, #cssLogo, #jsLogo
{
   z-index: 5;
}

//All logos are positioned at percentages and "centered" using negative margins (half the element's width)
//This ensures the elements stay in the correct position when the browser is resized.

#htmlLogo {
   width: 110px;
   height: 155px;
   top: 300px;
   left: 24%; //25% would center between left edge and CSS
   margin-left: -55px;
   background: url("../images/tech/htmlLogo-white.png") no-repeat;
}

#cssLogo {
   width: 110px;
   height: 154px;
   top: 300px;
   left: 50%; //Center the middle logo (see negative margin below)
   margin-left: -55px; //Half of width is 55px
   background: url("../images/tech/css-white.png") no-repeat;
}

#jsLogo {
   top: 298px;
   left: 76%; //75% would center between CSS and right edge
   width: 110px;
   height: 155px;
   margin-left: -55px;
   background: url("../images/tech/js-white.png") no-repeat;
}

#sassLogo {
   top: 150px;
   left: 37%;
   width: 108px;
   height: 81px;
   margin-left: -54px;
   background: url("../images/tech/sass.png") no-repeat;
}

#lessLogo {
   top: 170px;
   left: 63%;
   width: 120px;
   height: 51px;
   margin-left: -60px;
   background: url("../images/tech/less.png") no-repeat;
}

#xamarinLogo {
   top: 599px;
   left: -8000px;
   opacity: 0;
   width: 228px;
   height: 60px;
   background: url("../images/tech/xamarin-short-spaced.png") no-repeat;
   margin-left: -114px;
   -webkit-transition: left .5s ease, opacity .5s linear;
   -moz-transition: left .5s ease, opacity .5s linear;
   -o-transition: left .5s ease, opacity .5s linear;
   transition: left .5s ease, opacity .5s linear;

   &.reveal{
      left: 11%;
      opacity: 1;
   }
}

#gitLogo
{
   top: 596px;
   left: -8000px;
   opacity: 0;
   width: 162px;
   height: 68px;
   margin-left: -81px;
   background: url("../images/tech/git-white.png") no-repeat;
   -webkit-transition: left .5s ease, opacity .5s linear;
   -moz-transition: left .5s ease, opacity .5s linear;
   -o-transition: left .5s ease, opacity .5s linear;
   transition: left .5s ease, opacity .5s linear;

   &.reveal{
      left: 37%;
      opacity: 1;
   }
}

#phpLogo {
   top: 589px;
   left: 8000px;
   opacity: 0;
   width: 144px;
   height: 76px;
   margin-left: -72px;
   background: url("../images/tech/php.png") no-repeat;
   -webkit-transition: left .5s ease, opacity .5s linear;
   -moz-transition: left .5s ease, opacity .5s linear;
   -o-transition: left .5s ease, opacity .5s linear;
   transition: left .5s ease, opacity .5s linear;

   &.reveal{
      left: 63%;
      opacity: 1;
   }
}

#jiraLogo {
   top: 596px;
   left: 8000px;
   opacity: 0;
   width: 135px;
   height: 53px;
   background: url("../images/tech/jira-light.png") no-repeat;
   -webkit-transition: left .5s ease, opacity .5s linear;
   -moz-transition: left .5s ease, opacity .5s linear;
   -o-transition: left .5s ease, opacity .5s linear;
   transition: left .5s ease, opacity .5s linear;
   margin-left: -67.5px;

   &.reveal {
      left: 89%;
      opacity: 1;
   }
}

#photoshopLogo {
   top: 597px;
   left: 8000px;
   opacity: 0;
   width: 88px;
   height: 86px;
   background: url("../images/tech/photoshop.png") no-repeat;
   -webkit-transition: left .5s ease, opacity .5s linear;
   -moz-transition: left .5s ease, opacity .5s linear;
   -o-transition: left .5s ease, opacity .5s linear;
   transition: left .5s ease, opacity .5s linear;

   &.reveal{
      left: 86%;
      opacity: 1;
   }
}

#angularLogo {
   top: 800px;
   left: 50%;
   width: 89px;
   height: 93px;
   margin-left: -45px;
   background: url("../images/tech/angular.png") no-repeat;
   z-index: 2;
}


#jqueryLogo {
   top: 902px;
   left: 36.5%;
   width: 121px;
   height: 137px;
   margin-left: -61px;
   background: url("../images/tech/jquery.png") no-repeat;
}

#javaLogo {
   top: 874px;
   left: 63.5%;
   width: 94px;
   height: 171px;
   margin-left: -47px;
   background: url("../images/tech/java.png") no-repeat;
}

///////////// END Parallax Section /////////////

.contentContainer //Center all content in the middle of the page
{
   width: @contentWidth;
   margin: 0 auto;
}

//Projects Section
#projects {
   width: 100%; //TODO: this can probably be moved up to Body element and just inherit
   overflow: hidden;
   position: relative;
}

//Project Links Section
.projectNavGroup {
   position: absolute;
   z-index: 5;
   margin-top: 16px;
   width: 100%; //not needed?
   height: 47px;
}

//Project Title (h1 element)
.projectTitle {
   display: inline-block;
}

.projectLinks {
   display: inline-block;
   margin-left: 41px;
   position: relative;
   top: 9px;
}

.projectThumbnail
{
   display: inline-block;
   position: relative;
   height: 40px;
   cursor: pointer;
   margin-right: 22px;
   opacity: .3;
   -webkit-transition: opacity .28s linear;
   -moz-transition: opacity .28s linear;
   -o-transition: opacity .28s linear;
   transition: opacity .28s linear;

   &.active
   {
      opacity: 1;
   }

   &:hover
   {
      opacity: 1;
   }

   &:nth-child(1)
   {
      //background: url("../images/twc-small.png") no-repeat;
      background: url("../images/twc-small2.png") no-repeat;
      width: 102px;
   }
   &:nth-child(2)
   {
      width: 177px;
      height: 45px;
      background: url("../images/xamarin-white.png") no-repeat;
      top: 3px;
      left: -3px;
      // background: url("../images/tech/xamarin-miny.png") no-repeat;
   }
   &:nth-child(3)
   {
      width: 112px;
      height: 30px;
      top: -5px;
      background: url("../images/ehow-small.png") no-repeat;
   }
   &:nth-child(4)
   {
      width: 143px;
      height: 40px;
      top: 5px;
      margin-left: 4px;
      background: url("../images/pennington-small.png") no-repeat;
   }
   &:nth-child(5)
   {
      width: 69px;
      height: 40px;
      top: 1px;
      left: 4px;
      background: url("../images/nfcu.png") no-repeat;
   }
}
/////////////////// End Project Links Section ///////////////////

//A large container div that "moves" left and right using CSS translateX
#sliderContainer {
   //The slider container width determines the size of the project divs. (see @projectWidth)
   width: @sliderContainerWidth;

   //original position
   -webkit-transform: translateX(0);
   -moz-transform: translateX(0);
   -o-transform: translateX(0);
   transform: translateX(0);

   -webkit-transition: all 0.65s ease 0s;
   -moz-transition: all 0.65s ease 0s;
   -o-transition: all 0.65s ease 0s;
   transition: all 0.65s ease 0s;

   &.trans1 {
      -webkit-transform: translateX(-@projectWidth);
      -moz-transform: translateX(-@projectWidth);
      -o-transform: translateX(-@projectWidth);
      transform: translateX(-@projectWidth);
   }
   &.trans2 {
      -webkit-transform: translateX(-@projectWidth * 2);
      -moz-transform: translateX(-@projectWidth * 2);
      -o-transform: translateX(-@projectWidth * 2);
      transform: translateX(-@projectWidth * 2);
   }
   &.trans3 {
      -webkit-transform: translateX(-@projectWidth * 3);
      -moz-transform: translateX(-@projectWidth * 3);
      -o-transform: translateX(-@projectWidth * 3);
      transform: translateX(-@projectWidth * 3);
   }
   &.trans4 {
      -webkit-transform: translateX(-@projectWidth * 4);
      -moz-transform: translateX(-@projectWidth * 4);
      -o-transform: translateX(-@projectWidth * 4);
      transform: translateX(-@projectWidth * 4);
   }
}

.project {
   width: @projectWidth; //Full width of the container devided by the number of projects
   min-height: 750px;
   float: left; //Inline-block doesn't work properly for whatever reason
   color: white;
   padding-top: 116px;
}

.point
{
   margin: 1px 0 ;
}

.rightSide
{
   margin-left: 50px;
 position: relative;
 left: 10px;
   width: 400px;
   display: inline-block;
}

.summary
{
clear: both;
}

.leftSide
{
   display: inline-block;
   float: left;
}
.term
{
   font-size: 18px;
   //display: inline-block;
   margin: 1px 0;
   font-weight: bold;
}

#project1 {
   background: #1C0025;
}

#project2 {
   background: #0C2032;
}

#project3 {
   //background: #4B211C; //pinkish
   background: #833700; //Orange
   //background: #4B2100;//orange 2
}

#project4 {
   background: #132400;
}

#project5 {
   background: #000625;
}

////////////// End Project and Slider Container Sections //////////////

#sourceCode {
   clear:both;
   background: #253139;
}

#videos {
   background: white;
}

#about {
   background: blue;
}

#contact {
   background: orange;
}

///////////////////////////  Dark specific styles   ///////////////////////////

.dark {
   background: black;
   color: grey;

   .toggleTheme {

      color: @darkHeaderText;
   }

   .toggleTheme:hover {
      color: @darkHeaderHover;
   }

   header {
      background: #000;

      &:hover {
         background-position: bottom;
      }
   }

   .headerLogo {
      background: url("../images/smile-logo-sprite.png") no-repeat;
   }
} //end header

//end .dark styles

///////////////////////////  Responsive styles   ///////////////////////////

/*Smartphones in portrait and landscape ----------- */
@media (min-width : 320px) and (max-width : 767px) {

   #sliderContainer
   {
      width: 100%; //The slider container width determines size of the project divs (see below)
      height: 100%;
   }

   //Center the nav and all content using the mobile width
   .contentContainer
   {
      width: @contentWidthMobile;
   }

   #projects .mobileContentContainer
   {
      margin: 18px;
   }

   //Hide the parallax section on mobile.
   #parallax
   {
      display: none;
   }

   #mainImage {
      background-attachment: scroll; /*Fixed is not supported by mobile*/
      height: 500px;
   }

   header {
      height: 48px;
      opacity: .91;

      &:hover {
         // color: @darkHeaderHover;
         cursor: pointer;
      }
   }

   //Hide the standard nav
   .navContainer {
      display: none;
   }

   .mobileNav {
      display: block;
      margin-top: 0;
      float: none;
      right: 0;
      height: 48px;
      margin: 0 auto;

      ul {
         display: none;
         position: fixed;
         top: 48px;
         text-align: center;
         width: 100%;
         background: #000;
         margin-left: 0;
      }

      li {
         font-size: 24px;
         padding: 12px 0;
         float: none;
         border-bottom: 1px solid #252525;

         &:first-child {
            border-top: 1px solid #252525;
         }

         &.selected {
            background: #fff;
         }
      }

      a, a:link, a:visited {
         padding: 0;
         margin: 0;
      }
   }

   //#mobile-logo and .mobileButton are centered using the width of the contentContainer
   #mobile-logo {
      display: inline-block;
      margin-top: 5px;
      width: 38px;
      height: 38px;
      background: url("../images/mobile/small-smile-logo-sprite.png") no-repeat;
      position: relative;
      left: -2px;

      &.selected {
         background-position: bottom;
      }
   }

   //#mobile-logo and .mobileButton are centered using the width of the contentContainer
   .mobile-button {
      display: inline-block;
      float: right;
      margin-top: 15px;
      width: 27px;
      height: 17px;
      background: url("../images/mobile/menu-button-sprite.png") no-repeat;

      &.selected {
         background-position: bottom;
      }
   }
}

//iPads in portrait and landscape-----------
@media (min-width : 768px) and (max-width : 1024px) {

   //Center the nav and all content using the "medium" width
   .contentContainer {
      width: @contentWidthMedium;
   }

   .navContainer {
      nav {
         right: 0%;
      }

      a, a:link, a:visited
      {
         padding-left: 20px;
         padding-right: 20px;
      }
   }
}

@media (min-width : 768px) and (max-width : 1188px) {

   .projectLinks {
      float: right;
      margin-left: 0;
      width: 81%;
   }

   h1 {
      padding-top: 14px;
   }

   .projectThumbnail:nth-child(1) {
      margin-left: 12px;
   }

   .projectThumbnail:nth-child(2) {
      width: 51px;
      height: 45px;
      top: 4px;
      left: -3px;
      background: url("../images/xamarin-tiny.png") no-repeat;
   }

   .projectThumbnail {
      margin-right: 28px;

      &:nth-child(2)
      {
         left: 0;
      }
      &:nth-child(3)
      {
         top: -5px;
         left: 0;
      }
      &:nth-child(4)
      {
         top: 5px;
         left: 0;
         width: 143px;
      }
      &:nth-child(5)
      {
         left: 0;
         top: 1px;
         margin-right: 14px;
      }
   }
}

/////////////// Tech Logo Adjustments (i.e. Remove logo text when the screen is too small).
@media (max-width : 914px) {

   //MOBILE PROJECT SECTION
   #projects
   {
      height: 100%;
      background: #1C0025;
   }

   #sliderContainer
   {
      width: 100%; //The slider container width determines size of the project divs (see below)

      //Reset TranslateX back to 0 when the browser is too small to show project thumbnails.
      &.trans1, &.trans2, &.trans3, &.trans4 {
         -webkit-transform: translateX(0);
         -moz-transform: translateX(0);
         -o-transform: translateX(0);
         transform: translateX(0);
      }

      .project
      {
         width: 100%;
         display: block;
         float: none;
         padding-top: 5px;
         &:first-child
         {
            padding-top: 116px;
         }
      }
   }

   .projectLinks {
      float: none;
      display: none;
   }
}

@media (max-width : 1051px) {

   #gitLogo {
      background: url("../images/tech/git-tiny.png") no-repeat;
      width: 68px;
      height: 68px;
      margin-left: -34px;
   }

   #jiraLogo {
      background: url("../images/tech/jira-tiny.png") no-repeat;
      width: 58px;
      height: 77px;
      margin-left: -29px;
      margin-top: -14px;
   }

   #phpLogo {
      background: url("../images/tech/php-text.png") no-repeat;
      width: 100px;
      height: 48px;
      margin-left: -50px;
      margin-top: 14px;
   }
}

@media (max-width : 1350px) {

   #xamarinLogo {
      background: url("../images/tech/xamarin-tiny.png") no-repeat;
      width: 80px;
      height: 71px;
      margin-left: -40px;
      margin-top: -4px;
   }

   #photoshopLogo
   {
      margin-top: -2px
   }
}

/* Only iPhone 4 ----------- *//*
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
   *//* YOUR STYLE GOES HERE *//*
}*/






























